#btn-subscribe{
    background: red;
    border: none;
    border-radius: 10px;
    padding: 10px;
    
    color: white;
    cursor: pointer;

    

    
    font-size: 30pt;
    padding: 10pt;
}



/* BOTﾃグ Nﾃグ INSCRITO */
#btn-subscribe:not(.unavailable){
    background:oklch(1 0.4 125);
    transition: all .1s cubic-bezier(0,1,.25,1);

}
#btn-subscribe:not(.unavailable):hover{
    background: oklch(94.131% 0.09245 146.196);

}
/* BOTﾃグ INSCRITO */
#btn-subscribe:not(.unavailable).active{
    background:oklch(76.676% 0.00009 271.152);
    transition: all .1s cubic-bezier(0,1,.25,1);

}
#btn-subscribe:not(.unavailable):hover.active{
    background: oklch(83.591% 0.0001 271.152);

}
/* BOTﾃグ INDISPONIVEL */

#btn-subscribe.unavailable{
    background: rgb(96, 138, 177);
    transition: all .1s cubic-bezier(0,1,.25,1);

}
#btn-subscribe.unavailable:hover{
    background: rgb(126, 142, 156);

}




#ctn-header-channel{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 3vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
}


#ctn-header-channel h1{
    text-align: right;
}

#ctn-header-channel #ctn-subscribe{
    text-align: center;
}


