body{
  font-family: Arial, Helvetica, sans-serif;
}


#feed {
  width: 100%;
  height: 1500px;
  display: flex;
  position: absolute;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  column-gap: 20px;
  margin-top: 10vh;
}

div .video{
  display: block;
  /*width: 640px;*/ 
  /*height: 450px;*/
  text-align: center;
  flex: 50px 0 0;
} 

img{
  
  width: 640px;
  aspect-ratio: 16/9;
}


.thumb-preview {
  width: 100px;

}

/* BUTTONS */

#buttons {
  display: flex;
  flex: row wrap;;
  text-align: center;
  justify-content: center;

}


/* From Uiverse.io by ErzenXz */ 
.btnpage{

  width: fit-content;
  border-radius: 5px;
  border: 2.5px solid #E0E1E4;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: white;
  transition: all 0.05s ease-in-out 0ms;
  user-select: none;
  font-size: 2em;
  border: #000000 solid 4px;
  padding: 8px;
}

.btnicon{
  background: transparent;
  border: none;
  cursor: pointer;
}



#btn-upload {
  min-width: 400px;
  height: 120px;
  margin-top: 10vh;
}

#btn-upload:hover {
  background-color: #F2F2F2;
  box-shadow: 0px 0px 20px -18px;
}

#btn-upload:active {
  transform: scale(0.95);
}


/* video */


video {
  min-width: 480px;
  max-width: 100vw;
}



.video{
  perspective: 5px;
  margin-bottom: 120px;
}
.video img {
  transform: rotateX(0deg) rotateY(0deg);
  transition: transform 0.2s;
}
.video img:hover{
  transform: rotateX(calc(var(--mouse-y) * -1.7deg))
              rotateY(calc(var(--mouse-x) * -1deg));
  transition: all 0s;
}

.video-meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: inherit;

}

.video-title {
  flex-grow: 1;
  margin-top: 0;

  font-size: 1.5rem;

  height: 30px;
}

.bar .upper-bar{
  display: flex;
}





#ctn-releases{
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 5px;
  border-color: #b5bba6;
  border-style: solid dashed solid dashed;

  width: 50vw;
  margin: 0 auto;
  padding: 1vh;
}

#ctn-releases > h1{
  margin-bottom: 1vh;
}

.release{
   
  display: grid;
  /* grid-auto-rows: 100px; */
  /* grid-auto-columns: 100px; */
  
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1vh;
  justify-items: center;
  align-items: center;
  border-top: 3px;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-color: #b5bba6;
  border-style: solid;
  
  margin: 0 auto;
  width: inherit;
  padding-top: 3vh;
  padding-bottom: 3vh;
} 
.release-title{
  font-size: 30pt;
  text-align: justify;
  
}
.release > p{
  font-size: 15pt;
  text-align: center;
}
.release > h1:not(.release-title){
  font-size: 30pt;
  text-align: justify;
}

/* 
.release{ 
  display: flex;
  flex-direction: column;
  align-items: center;

  border-top: 3px;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-color: #b5bba6;
  border-style: solid;
  margin: 0 auto;
  width: inherit;
  padding-top: 3vh;
  padding-bottom: 3vh;
} */