
div .video{
  display: block;
  /*width: 640px;*/ 
  /*height: 450px;*/
  text-align: center;
  flex: 50px 0 0;
} 

img{
  
  width: 640px;
  aspect-ratio: 16/9;
  border-radius: 10px;
  
}




/* video */




.ctn-video-thumb{
  perspective: 5px;
}
.ctn-video-thumb img {
  transform: rotateX(0deg) rotateY(0deg);
  transition: transform 0.2s;
}
.ctn-video-thumb img:hover{
  transform: rotateX(calc(var(--mouse-y) * -1.7deg))
              rotateY(calc(var(--mouse-x) * -1deg));
  cursor: pointer;
  transition: all 0s;
}

.video-meta {
  display: flex;
  align-items: center;
  flex-wrap:wrap;
  width: inherit;
  max-width: 100vw;

}

.video-title {
  flex-grow: 1;
  margin-top: 0;

  font-size: 1.5rem;

  height: 30px;
}


.video-channel{
    transition: all .1s cubic-bezier(0,1,.25,1);
}

.video-channel:hover{
    cursor: pointer;
    color: #555;

}