body{
  font-family: Arial, Helvetica, sans-serif;
}


#feed {
  width: 100%;
  display: flex;
  position: absolute;
  flex-flow: row wrap;
  justify-content: space-evenly;
  column-gap: 20px;
  row-gap: 120px;
  margin-top: 2vh;
}




#ctn-buttons-feed{
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content:center;
  column-gap: 5vw;
  
}



.thumb-preview {
  width: 100px;

}

/* BUTTONS */
/* 
#buttons {
  display: flex;
  flex: row wrap;;
  text-align: center;
  justify-content: center;

} */







#btn-upload:active {
  transform: scale(0.95);
}







#ctn-releases{
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 5px;
  border-color: #b5bba6;
  border-style: solid dashed solid dashed;

  width: 50vw;
  margin: 0 auto;
  padding: 1vh;
}

#ctn-releases > h1{
  margin-bottom: 1vh;
}

.release{
   
  display: grid;
  /* grid-auto-rows: 100px; */
  /* grid-auto-columns: 100px; */
  
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1vh;
  justify-items: center;
  align-items: center;
  border-top: 3px;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-color: #b5bba6;
  border-style: solid;
  
  margin: 0 auto;
  width: inherit;
  padding-top: 3vh;
  padding-bottom: 3vh;
} 
.release-title{
  /* font-size: 30pt; */
  text-align: justify;
  
}
.release > p{
  /* font-size: 15pt; */
  text-align: center;
}
.release > h1:not(.release-title){
  /* font-size: 30pt; */
  text-align: justify;
}

/* 
.release{ 
  display: flex;
  flex-direction: column;
  align-items: center;

  border-top: 3px;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-color: #b5bba6;
  border-style: solid;
  margin: 0 auto;
  width: inherit;
  padding-top: 3vh;
  padding-bottom: 3vh;
} */

.ctn-masthead{
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;
  flex-wrap: wrap;
}

.ctn-masthead button{
  position: relative;
}

.ctn-masthead .badge{
  position: absolute;
  top: 8px;
  right: 5px;
  color: var(--color-accent);
}


#btn-icon-account:not(.logged) .icon{
  font-variation-settings: 
  'wght' 350;
  color: rgb(98, 86, 112);  
}

button.masthead{
  background-color: transparent;
}

button.masthead:hover{
  background-color: #0c0c0c0c;
}